/****************/
/* SECTION 1 - Afbeelding onder header met button*/
/****************/


main section:nth-of-type(1) {
	background-image: url('../images/img-bg-1.webp');
	display: flex;
	min-height: 26em;
	background-size: cover;
	background-position: center center;
	font-family: var(--primary-font-family);
	text-align: center;
	flex-direction: column;
	justify-content: center;
}

main section:nth-of-type(1) h2 span {
	display: block;
}

main section:nth-of-type(1) a {

	text-decoration: none;
	background-color: var(--bg-button);
	color: var(--color-button);
	font-family: var(--primary-font-family);
	border-radius: .3em;
	margin-right: auto;
	margin-left: auto;
	max-width: 25em;
	min-width: 8em;
	padding: .8em;
}

main section:nth-of-type(1) a:hover {
	background-color: var(--button-hover);
}


/****************/
/* SECTION 2 - Een kijkje in de keuken*/
/****************/

section:nth-of-type(2) {
	border-bottom: 1px solid var(--color-border);
}

section:nth-of-type(2) h2 {
	font-family: var(--primary-font-family);
	text-align: center;
}

section:nth-of-type(2) p {
	font-family: var(--primary-font-family);
	text-align: center;

}

section:nth-of-type(2) img {
	display: block;
	margin: auto;
}


section:nth-of-type(2) ul {
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	gap: 2em;
	list-style-type: none;
	scroll-snap-type: x mandatory;

}

section:nth-of-type(2) ul li {
	min-width: 25em;
	scroll-snap-align: center;
}

section:nth-of-type(2) ul img {
	width: 25em;
	height: 30em;
}

section:nth-of-type(2) ul li h4 {
	text-align: center;
	font-family: var(--bolt-font-family);
}

section:nth-of-type(2) ul li p {
	text-align: center;
	font-family: var(--primary-font-family);
}

/****************/
/* SECTION 3 - Zo werkt het*/
/****************/


section:nth-of-type(3) {
	margin-bottom: 4em;
}


section:nth-of-type(3) h2 {
	font-family: var(--primary-font-family);
	text-align: center;
}

section:nth-of-type(3) ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

section:nth-of-type(3) li {
	display: flex;
	flex-direction: column;
	justify-content: start;

}

section:nth-of-type(3) h3 {
	font-family: var(--primary-font-family);
	text-align: center;
}



section:nth-of-type(3) p {
	font-family: var(--primary-font-family);
	text-align: center;
	font-size: .9em;
}

section:nth-of-type(3) p:nth-of-type(1) {
	color: var(--color-text-second);
}



section:nth-of-type(3) img {
	display: block;
	margin: auto;
	max-width: 22em;
	order: -100;

}

section:nth-of-type(3) a {
	text-decoration: none;
	background-color: var(--color-button);
	color: var(--button-hover);
	font-family: var(--primary-font-family);
	margin: 2em auto;
	max-width: 10em;
	min-width: 5em;
	padding: .8em;
	display: flex;
	justify-content: center;
	border: solid 1px var(--bg-button);
	border-radius: .3em;
}

main section:nth-of-type(3) a:hover {
	background-color: var(--nav-button-hover);
}

/****************/
/* SECTION 4 - Goed voor jou en planeet*/
/****************/

main section:nth-of-type(4) {
	background-color: var(--color-background-section);
	border-top: 1px solid var(--color-border);
	padding: 1em;

}


main section:nth-of-type(4)>img {
	margin-top: 1em;

}


section:nth-of-type(4) ul {
	list-style: none;
	padding: 0;
}

main section:nth-of-type(4) h2 {
	font-family: var(--bolt-font-family);
}

main section:nth-of-type(4) h3 {
	font-family: var(--bolt-font-family);
	display: flex;
	align-items: center;
	gap: .25em;
	margin: 2rem 0 .25rem -.5rem;
}

main section:nth-of-type(4) p {
	font-family: var(--primary-font-family);
	margin-top: 0;

}

main section:nth-of-type(4) a {
	text-decoration: none;
	background-color: var(--bg-button);
	color: var(--color-button);
	font-family: var(--primary-font-family);
	margin-right: auto;
	margin-left: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	border-radius: .3em;
	max-width: 95%;
	min-width: 8em;
	padding: .8em;
	display: flex;
	justify-content: center;
}

main section:nth-of-type(4) a:hover {
	background-color: var(--button-hover);
}

/****************/
/* SECTION 5 - Jouw smaak, jouw box*/
/****************/

section:nth-of-type(5) {
	border-bottom: 1px solid var(--color-border);
}

section:nth-of-type(5) h1 {
	font-family: var(--primary-font-family);
	text-align: center;
	margin-top: 2em;
}

section:nth-of-type(5) p {
	font-family: var(--primary-font-family);
	text-align: center;
	margin: 2em;
}

section:nth-of-type(5) ul {
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	gap: 1.5em;
	list-style-type: none;
	scroll-snap-type: x mandatory;

}

section:nth-of-type(5) ul li {
	min-width: 17em;
	scroll-snap-align: center;
}

section:nth-of-type(5) ul img {
	width: 17em;
	height: 22em;
}

section:nth-of-type(5) a {
	text-decoration: none;
	background-color: var(--color-button);
	color: var(--button-hover);
	font-family: var(--primary-font-family);
	margin: 2em auto;
	margin-top: 3em;
	max-width: 10em;
	min-width: 5em;
	padding: .8em;
	display: flex;
	justify-content: center;
	border: solid 1px var(--bg-button);
	border-radius: .3em;
}

section:nth-of-type(5) a:hover {
	background-color: var(--nav-button-hover);
}

/****************/
/* SECTION 6 - Quotatie thuiskoks*/
/****************/

section:nth-of-type(6) h2 {
	font-family: var(--primary-font-family);
	text-align: center;
	margin: 1em;
	font-size: medium;
}

section:nth-of-type(6) ul {
	list-style: none;
}

section:nth-of-type(6) ul img {
	max-width: 10em;
}

section:nth-of-type(6) h4 {
	font-family: var(--primary-font-family);
	text-align: center;
	margin: 1em;
}

section:nth-of-type(6) blockquote {
	font-family: var(--primary-font-family);
	text-align: center;
}

section:nth-of-type(6) img {
	display: flex;
	justify-content: center;
	margin: auto;
}



/****************/
/* SECTION 7 - Aan de slag*/
/****************/


main section:nth-of-type(7) {
	background-image: url('../images/background2pagina1.webp');
	display: flex;
	min-height: 26em;
	background-size: cover;
	background-position: center center;
	font-family: var(--primary-font-family);
	text-align: center;
	flex-direction: column;
	justify-content: center;
}

main section:nth-of-type(7) p {
	font-size: larger;
	margin-left: 3em;
	margin-right: 3em
}

main section:nth-of-type(7) h2 span {
	display: block;
}

main section:nth-of-type(7) a {

	text-decoration: none;
	background-color: var(--bg-button);
	color: var(--color-button);
	font-family: var(--primary-font-family);
	border-radius: .3em;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2em;
	max-width: 25em;
	min-width: 8em;
	padding: .8em;
}

main section:nth-of-type(7) a:hover {
	background-color: var(--button-hover);
}

/****************/
/* SECTION 8 - Blijf op de hoogte*/
/****************/



main section:nth-of-type(8) h2 {
	text-align: center;
	margin-top: 2em;
	font-family: var(--primary-font-family);
}

main section:nth-of-type(8) p {
	font-family: var(--primary-font-family);
	text-align: center;

}

/****************/
/* SECTION 9 - Sign in*/
/****************/

main section:nth-of-type(9) {
	display: flex;
	justify-content: center;
	border-radius: .3em;
	border-bottom: solid var(--color-border) 1px;
	padding-bottom: 3em;


}

main section:nth-of-type(9) input {
	box-sizing: border-box;
	padding: 1em;
	font-size: larger;
	font-size: medium;
	border-radius: .4em;
}

main section:nth-of-type(9) button {
	background-color: var(--bg-button-clear);
	color: var(--color-button);
	border: none;
	padding-right: 2em;
	padding-left: 2em;
	margin-left: 1em;
	border-radius: .4em;


}

@media (min-width:45em) {

	/* MEDIA SECTION 3 */

	main section:nth-of-type(3) ul {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 1em;


	}

	main section:nth-of-type(3) ul img {
		max-width: none;
		width: 100%;
		margin: 0;

	}

	/* MEDIA SECTION 4 */


	main section:nth-of-type(4) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 2em;
	}

	main section:nth-of-type(4) h2 {
		margin-bottom: 0;
	}

	main section:nth-of-type(4) a {

		max-width: 80%;
		margin-right: 0;
		margin-left: 0;


	}

	main section:nth-of-type(4)>img {

		/* max-width:36em ; */

		justify-self: center;
		align-self: center;

		width: 90%;
		grid-column-start: 1;
		grid-column-end: 2;

		grid-row-start: 1;
		grid-row-end: 4;
	}


	/* 	MEDIA SECTION 6 */


	section:nth-of-type(6) ul {
		display: flex;

	}

	section:nth-of-type(6) ul li {
		max-width: 30em;

	}

}