@font-face{
	font-family: 'SourceSansProRegular';
	src:url(../fonts/SourceSansPro-Regular.ttf);
}

@font-face{
	font-family: 'SourceSansProBolt';
	src:url(../fonts/SourceSansPro-SemiBold.ttf);
}




/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}

.loesoe {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }



 

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;

	--bg-button:#067A46;
	--color-button:#fff;

	--primary-font-family: 'SourceSansProRegular';
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */




img{
	max-width: 100%;
}

main section:nth-of-type(1){
	background-image:url('../images/img-bg-1.webp');
	min-height: 26em;
	background-size: cover;
	background-position: center center;
	text-align:center;
	font-family: var(--primary-font-family);
}

main section:nth-of-type(1) h2 span {
 display: block;
}

main section:nth-of-type(1) a {
	
	text-decoration: none;
	background-color: var(--bg-button);
	color: var(--color-button);
	font-family: var(--primary-font-family);
    margin-right: auto;
    margin-left: auto;
    max-width: 25em;
    min-width: 8em;
    padding: .8em;
}

section:nth-of-type(2) ul {
	display:flex;
	flex-direction: row;
	overflow-x:scroll;
	gap:2em;
	list-style-type:none;
	scroll-snap-type: x mandatory;
	
}

section:nth-of-type(2) ul li{
	min-width:25em;
	scroll-snap-align: center;
	font-family: var(--primary-font-family);

}

section:nth-of-type(2) ul img{
	width:25em;
	height:30em;
}

section:nth-of-type(2) ul li h4{
	text-align: center;
}

section:nth-of-type(2) ul li p{
	text-align: center;
}